body{
    color: white;
    background-color: orange;
  }
  
  span{
    font-size: 30px;
  }
  
  #camera , #result{
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  
  #result_gesture_name{
    color: black;
  }
  
  .gesture_name{
    font-size: 40px;
  }
  
  .gesture{
    font-size:48px;
  }
  
  .heading{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
  }
  
  #webcam_view , #snapshot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  #prediction{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500px;
  }